*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{

    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.hero-title{
color: #6351E9;
text-transform: uppercase;
}
.hero-heading{
    
    font-size: 62px;
    /* padding: 6px 0; */
}
.hero-para{
    line-height: 20px;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 20px 0;

}
.hero-text{
    width: 500px;
    gap: 12px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.hero-btn{
    width: 130px;
    height: 42px;
    color: white;
    background-color: #6351E9;
    border-style: none;
    text-transform: uppercase;
}
.heroimg{
    width: 500px;
    /* position: absolute; */
}
