* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    /* height: 100vh; */
    height: 100vh;
    background-image: url("./Img/img1.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    /* font-family: 'poppins', sans-serif; */

}

.nav {
    position: relative;
    padding: 0 2rem;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
}

#logo {
    width: 30px;
}

.links {
    gap: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 1rem;
    font-family: poppins;
    transition: 1s;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;

}

a:hover {
    transform: scale(1.5);
    z-index: 2;
    font-size: 1.5rem;
    cursor: pointer;
}

.text {
    height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title {
    font-size: 6rem;
    color: #fff;
    font-family: 'roboto slab', serif;
    font-weight: 300;
    font-size: 80px;

}

.subtitle {
    text-transform: capitalize;
    font-size: 20px;
    color: #fff;
    font-family: poppins;
}

/* 2nd screen starts */

.container {
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(20, 20, 20);
    position: relative;
    width: 100%;
    height: 100vh;
}

.text2 {
    align-items: center;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.title2 {
    padding-top: 30px;
    color: #fff;
    font-size: 2.2rem;
    justify-content: center;
    font-family: poppins;
font-weight: 400;
}

.subtitle2 {
    padding-top: 20px;
    width: 600px;
    color: #fff;
    text-align: center;
    font-family: poppins;
    font-size: 16px;

}

.grid-img {
    height: 250px;
    border-radius: 20px;
    width: 230px;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    justify-self: center;
    /* align-items: center; */
    align-self: center;

}

.grid {
    display: grid;
    gap: 12px;
    column-gap: 12px;
    grid-template-columns: repeat(4, 230px);
    /* grid-auto-rows: 350px; */
    /* grid-template-columns: 300px 300px 300px 300px; */
    justify-content: center;
    margin: 50px;
}

#img-2 {
    /* height: 710px; */
    height: 100%;
    background-size: cover;
    /* if u dont want to see the img of any middle box to move use grid-area property */
    /* grid-area:1/2/3/3 ; */
    grid-row: span 2;
}

/* we are creating 2 classes 1 for 2 column and 1 for 2 rows. when u will apply those classes to the images ,images will expand */

.row-2 {
    grid-row: span 2;
}

.column-2 {
    width: 100%;
    grid-column: span 2;
}

/* Section3 */
.text3 {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;


}

.title3 {
    padding: 20px;
    font-size: 2.2rem;
    font-family: poppins;
font-weight: 400;
}
.subtitle3{
    font-size: 16px;
    font-family: poppins;

}




.cards4 {
    margin-top: 100px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.card {
    font-family: poppins;
    font-size: 16px;
    width: 250px;
    height: 250px;
    border: #2a2828 solid 1px;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    position: relative;
    text-align: center;
}
.svg {
    width: auto;
    height: 70px;
}

/* 5th section */
.blacksvg {
    background-color: rgb(20, 20, 20);
    width: auto;
    height: 600px;
}

.flex {
    gap: 120px;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.blackbtn {
    font-family: poppins;

    width: 140px;
    height: 50px;
    color: white;
    background-color: black;
    border-style: none;
    font-size: 1rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.text5 {
    width: 400px;
    color: #fff;
    gap: 30px;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: left;
   
    /* padding-bottom: 50px; */
}

.title5 {
    /* padding: 30px; */
    font-size: 2.5rem;
    font-family: poppins;
    font-weight: 300;

}
.subtitle5{
    font-family: poppins;
    font-size: 16px;
}

/* 6th section  */
.footer {
    width: 100%;
    height: auto;
    background-color: rgb(20, 20, 20);
}

.locationimg {
    width: 100px;
    height: auto;
    opacity: 50%;
}

.text6 {
    font-family: poppins;

    line-height: 30px;
    font-size: 18px;
    color: #848484;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* margin-top: 100px; */
}

.footerFlex {
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 300px
}